html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}
a{
  color: black;
  text-decoration: none;
}
.main{
  color: white;
  /* background-color: black; */
}
@media(max-width:776px){
  .videopage{
      width: 92%;
      margin: 2rem; 
  }
  .icon{
    width: 2rem;
  }
  .searching{
    width: 24rem;
  }
  /* .form{
    width: 10rem;
  } */
}
